.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* ทำให้ฉากหลังมืดกว่าเดิม */
    z-index: 1000;
}

.modal-content {
    width: 100%;  /* กำหนดให้เต็มจอ */
    height: 100%; /* เต็มความสูงของจอ */
    background-color: #000; /* พื้นหลังดำสำหรับแสดงภาพ */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-content img {
    max-width: 100%;  /* ให้ภาพเต็มจอ แต่ไม่เกินขอบเขต */
    max-height: 100%;
    object-fit: contain;  /* จัดให้ภาพแสดงพอดีในกรอบ */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.search-bar {
    margin: 20px 0;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

