.body {
}

p {
    color: black;
}

h2.subheader {
    margin-top: 40px;
    font-family: "Arapey", serif;
    color: rgb(70, 70, 70);
    font-weight: 500;

}

h3 {
    color: black;
}

.video-detail {
    width: 100%;
    height: 300px; /* เพิ่มความสูงเพื่อให้เห็นวิดีโอ */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: lightgray; /* สำหรับการดีบัก */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* จัดกึ่งกลาง subheader */
.subheader {
    text-align: center;
    margin-bottom: 20px;
}

/* Container สำหรับหมวดหมู่ */
.category-details-container {
    padding: 20px;
    position: relative; /* ถ้าจำเป็น */
    /* background-color: white; */
    padding-bottom: 2;
    background-color: #E9E7E0;

}
h3.catname
{
    margin-top: 15px;
    font-family: "Founders Grotesk Mono Regular",Arial,Helvetica,sans-serif;
}

.categories-grid {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    
}

.category-card {
    width: 200px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* ปรับปรุงการแสดงผลสำหรับผลิตภัณฑ์ */
.product-details-container {
    padding: 20px;
    background-color: #E9E7E0;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 3px; /* Adjust the spacing between items */
    padding: 100px;
    padding-top: 30px;
    justify-content: center;
}

.product-card {
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0;
}

.product-card:hover {
    /* transform: scale(1.00); */
}

.product-images {
    width: 100%;
    height: 100%; /* Fixed height to maintain uniform appearance */
    object-fit: cover; /* Ensures the image covers without squishing */
    /* border-radius: 5px; */
    transition: transform 0.3s ease;
}

/* เพิ่มเติมสไตล์อื่น ๆ ตามต้องการ */

.product-info {
    padding: 0;
    height: 100px;
}

h3.product-info-name {
    font-size: larger;
    text-align: left;
}

.product-image-containers
{
    width: 100%; /* ทำให้ container กว้างเต็ม */
    height: 800px; /* กำหนดความสูงคงที่ */
    overflow: hidden; /* ซ่อนส่วนที่เกินออกมา */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-card:hover .product-images {
    transform: scale(1.05); /* Scale up the image on hover */
}