.female_hero_section
{
    width: 100%;
    height: 80vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.female-hero-image
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}