.female_hero_section {
    position: relative;
    width: 100%;
    height: 80vh;
    align-content: center;
    justify-content: center;
    display: flex;

}

.female-hero-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.main-section {
    padding-bottom: 200px;
}

.highlight {
    width: 100%;
    height: 640px;
    background-color: white;
    object-fit: cover;
    object-fit: fill;
    position: relative;
}

.highlight-image-section {
    width: 100%;
    height: 100%;

}

.highlight-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.heroshadow {
    opacity: 0.3;
}

.title-new {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 54px;
    color: rgba(68, 68, 68, 0.801);
}

.gallery-new {
    width: 100%;
    position: absolute;
    height: 400px;
    z-index: 223;
    /* background-color: white; */
    top: 20%;
    justify-content: center;
    justify-items: center;
    display: flex;


}

.new-gallery-set {
    margin-top: 40px;
    width: 320px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.854);
    backdrop-filter: blur(5px);
    margin-right: 44px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* ทำให้วิดีโออยู่ด้านหลัง */
}

.video-background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(3px);
    /* transition: filter 0.5s ease-in-out; */
}

.video-background video:hover {
    filter: blur(4px);
    /* ลดความเบลอเมื่อผู้ใช้โฮเวอร์ */
}

.video-heroshadow {
    background-color: rgba(27, 14, 2, 0.459);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 909;
    top: 0;
}