@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* เพื่อให้ padding และ border ถูกรวมกับขนาดขององค์ประกอบ */
}

body
{
    background-color: #E9E7E0;
}



/* สำหรับ Welcome Overlay */
.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* พื้นหลังสีดำแบบโปร่ง */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1220; /* ให้อยู่ด้านบนสุด */
    backdrop-filter: blur(10px); /* เบลอพื้นหลัง */
}

.welcome-text {
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Cinzel', serif; /* ใช้ฟอนต์ Cinzel */
    animation: fadeOut 3s forwards; /* ทำให้ข้อความจางหายไป */
    text-align: center;
}

.welcome-detail {
    color:white;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    animation: fadeOut 3s forwards;
    text-align: center;
    opacity: 50;

}


/* Animation ให้จางหายไป */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.hero-section {
    width: 100%;
    height: 100vh;
    display: flex; /* เพิ่ม display: flex เพื่อใช้ flexbox */
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100vw; /* ใช้ 100vw เพื่อให้ภาพเต็มหน้าจอ */
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.heroshadow
{
    z-index: 4;
}

.white-logo {
    position: absolute;
    z-index: 995;
    width: 700px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.white-logo:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}

.main-section
{
    height: 1200px;
}