/* Home.css */

body
{
    background-color: #E9E7E0;
}

.section
{
    width: 100%;
}

.navbar
{
    width: 100%;
}



.hero-section
{
    width: auto;
    height: 100vh;    
}
.heroimage
{
    width: 100%;
    height: 100%;
    z-index: 993;
}
.heroshadow
{
    width: 100%;
    background-image: linear-gradient( rgba(255,0,0,0), rgba(0, 0, 0, 0.396));
    position: absolute;
    height: 100%;
}

.hero-text-section
{
   
    width: 100%;
    height: 100%;
    position: absolute ;
    z-index: 999;
    color: rgba(255, 255, 255, 0.907);
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-content: center;
}
.hero-text {
    font-size: 90px;
    font-weight: 300;  
    padding: 20%;
    transition: font-size 0.3s ease; /* เพิ่ม transition เพื่อทำให้การขยายสมูธ */
}

.hero-text:hover {   
    font-size: 100px;
}

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    margin: 20px;
}

.home-container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.product-item:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.product-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

.product-item p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-item .price {
    font-size: 1.2em;
    color: #e67e22;
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 80%;
    }
}

