/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
}

.hero-section img.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a shadow overlay */
}

/* Main Section */
.main-section {
    margin: 50px 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: #6C584C;
    margin-bottom: 20px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
}

.product-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #3E2723;
    text-transform: capitalize;
}

/* Highlight Section */
.highlight-section {
    margin-top: 60px;
}

.highlight-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.highlight-item {
    margin: 0 auto;
    width: 50%; /* Reduced width to 50% to make the image smaller */
}

.highlight-item img {
    width: 100%;
    border-radius: 10px;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}


/* Media Queries for Mobile */
@media (max-width: 768px) {
    .hero-section {
        height: 60vh;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .highlight-item {
        width: 90%;
    }
}
