.payment-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-title {
    text-align: center;
    margin-bottom: 20px;
}

.payment-details {
    margin-top: 20px;
}

.payment-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.payment-summary {
    margin-top: 20px;
    text-align: right;
}

.payment-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.payment-btn:hover {
    background-color: #218838;
}
