/* 

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #555;
}

label img {
    display: block;
    margin: 10px 0;
    max-width: 150px;
    border-radius: 8px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

input[type="file"] {
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

label {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #28a745;
}

input[type="submit"]:hover {
    background-color: #218838;
}

select:disabled {
    background-color: #eee;
    cursor: not-allowed;
}




.product-edit-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.product-edit-form h1,
.product-edit-form h2 {
    text-align: center;
}

.existing-images,
.new-images {
    margin-bottom: 20px;
}

.existing-image,
.new-image-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.existing-image img,
.new-image-item img {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-actions button,
.image-actions label {
    margin-right: 5px;
}

.image-actions label {
    display: inline-block;
}

.new-image-preview {
    display: flex;
    flex-wrap: wrap;
}

.new-image-item {
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #45a049;
} */
