
/* Container for the product list */
.product-list-container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td img {
    border-radius: 5px;
}

/* Responsive image */
table td img {
    max-width: 100px;
    height: auto;
}

/* No products message */
.no-products-message {
    color: #888;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}